<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pokemon Team Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Pokemon Team Generator"/>
    <meta name="title" property="og:title" content="Pokemon Team Generator"/>
    <meta property="og:type" content="Website"/><meta name="image" property="og:image" content="https://raw.githubusercontent.com/katarzyna-kw/pokemon-theme-team/master/assets/pokemon-generator.png"/>
    <meta name="description" property="og:description" content="Pokemon team generator using PokeAPI"/><meta name="author" content="Katarzyna Wegrzynowicz"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Sans+Narrow:wght@400;700&family=Paytone+One&family=Prata&family=Quicksand:wght@300;400;500;600&family=Righteous&family=Vidaloka&display=swap" rel="stylesheet">
  </head>
  <body>
    <main id="main">
      {% include 'poketeam/header.html' %}
      {% include 'poketeam/button.html' %}
      {% block content%}{% endblock %}
    </main>
    {% include 'poketeam/footer.html' %}
  </body>
</html>